<p id="notice"><%= notice %></p>
<p>username: <%= @user.username %></p>
<p>first name: <%= @user.firstname %></p>
<p>last name: <%= @user.lastname %></p>
<p>city: <%= @user.city %></p>
<p>bio: <%= @user.bio %></p>
<%= link_to "return to user list", users_path %>