
<p id="notice"><%= notice %></p>
<h2>Click <%= link_to "here", new_event_path %> to create a new EVENT</h2>

<table>
	<thead>
		<tr>
			<th>title</th>
			<th>description</th>
			<th>street</th>
			<th>city</th>
			<th>state</th>
			<th>zip</th>
			<th>starting</th>
			<th>duration</th>
			<th>capacity</th>
			<th>organizer</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |event| %>
		<tr>
			<td><%= link_to event.title, event %></td>
			<td><%= event.description %></td>
			<td><%= event.street %></td>
			<td><%= event.city %></td>
			<td><%= event.state %></td>
			<td><%= event.zip %></td>
			<td><%= event.starting %></td>
			<td><%= event.duration %></td>
			<td><%= event.capacity %></td>
			<td><%= event.user.firstname %></td>
			
			<td><%= link_to "edit", edit_event_path(event) %></td>
			<td><%= link_to "delete", event, method: :delete %></td>
		</tr>
		<% end %>
	</tbody>


</table>

