
<p id="notice"><%= notice %></p>

<div id="map-canvas"></div>
<div class="container-fluid col-md-12" id="main">
	<div class="row">
		<div class="col-sm-9"><!-- Map goes here! --></div>
		<div class="col-sm-3">
			<ul>
				<% @events.each do |event| %>
					<li>
						<%= link_to event.title, event %>&nbsp;
						<%= link_to "E", edit_event_path(event),
										:class => 'btn btn-default btn-xs' %>&nbsp;
						<%= link_to "D", event, method: :delete,
		                data: { confirm: 'Are you sure?' },
		                :class => 'btn btn-danger btn-xs'  %>
					</li>
				<% end %>
				<li>padding</li>
				<li>padding</li>
				<li>padding</li>
				<li>padding</li>
				<li>padding</li>
				<li>padding</li>
				<li>padding</li>
				<li>padding</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<%= link_to "Create new event", new_event_path,
			:class => 'btn btn-primary btn-sm' %>
</div>