<p id="notice"><%= notice %></p>
<p>title: <%= @event.title %></p>
<p>address:<br /><%= @event.street %><br />
<%= @event.city %>, <%= @event.state %>, <%= @event.zip %></p>
<p>Latitude: <%= @event.lat %>, Longitude: <%= @event.lng %></p>
<p>starting: <%= @event.starting %></p>
<p>duration: <%= @event.duration %></p>
<p>capacity: <%= @event.capacity %></p>
<p>organizer: <%= @event.user.firstname %></p>
<p>description: <%= @event.description %></p>

<%= form_for(@booking) do |f| %>
	<%= f.label "user to book" %>
	<%= f.select :user_id, 
								User.all.collect {|user| [user.username, user.id]},
								{prompt: "choose user"} %>
	<%= f.hidden_field :event_id, value: @event.id %>
	<%= f.submit "book for this event" %>
<% end %>

<%= link_to "return to event list", events_path %>